
// light mode

$light-background-color: white;
$light-text-color: #222;
$light-shadow-outline: 0 0 5px white;
$light-shadow-inline: inline 0 0 5px white;

// dark mode

$dark-background-color: red;
$dark-text-color: white;
$dark-shadow-outline: 0 0 5px white;
$dark-shadow-inline: inline 0 0 5px white;

